astroquery==0.4.8.dev9306  
astropy==5.3.4
lightkurve==2.4.2
transitleastsquares==1.32
matplotlib==3.8.3
numpy==1.26.4
wotan==1.10
pandas==2.2.1
scipy==1.12.0
TESS-PRF==0.1.3
#-e git+https://github.com/robertfwilson/TESSphomo.git@2554871ef53d49f87edb924d57afd6ecbbd5d64d#egg=tessphomo
